.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.row-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.row-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.section-dnd {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
  border: 4px dashed #e1e1e3;

  border-radius: 12px;
}

@media (max-width: 520px) {
  .section-dnd {
    flex-direction: row;
    overflow-y: auto;
  }
}

.scrim {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  opacity: 0.5;
}

.lastSynced {
  font-weight: 500;
  opacity: 0.5;
}

.syncTimer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 20%;
}
